aiobotocore==1.3.3
aiohttp==3.7.4.post0
aioitertools==0.7.1
aiosignal==1.2.0
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
botocore==1.20.106
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cycler==0.11.0
fonttools==4.29.1
frozenlist==1.3.0
idna==3.3
-e git+https://github.com/adam-2-taylor/python-intermediate-inflammation.git@243f6035ff6bd2253ca121ba6063bfcec02604e5#egg=inflammation_analysis
iniconfig==1.1.1
jmespath==0.10.0
kiwisolver==1.3.2
matplotlib==3.5.1
multidict==6.0.2
numpy==1.22.2
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.3.1
tomli==2.0.1
typing_extensions==4.1.1
urllib3==1.26.8
webencodings==0.5.1
wrapt==1.13.3
yarl==1.7.2
